<!DOCTYPE html>

<html lang="EN">
	
	<head>
		
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width,initial-scale=1">
		
		<title>Node Get Financial Stats 🌏</title>
		
		<meta name="author" content="Francesco Rizzi">
		<meta name="website" content="https://frarizzi.science">
		<meta name="description" content="Gather, aggregate and combine charts and data of different financial products into an easy digestible well-designed web page displaying multiple products at once.">
		
		<link rel="shortcut icon" href="./{{{assets_dir}}}/favicon.ico" type="image/x-icon">
		<link rel="icon" href="./{{{assets_dir}}}/favicon.ico" type="image/x-icon">
		
		<link href="https://fonts.googleapis.com/css?family=Roboto:400,500" rel="stylesheet">
		<link rel="stylesheet" href="./{{{assets_dir}}}/reset.css" type="text/css">
		<link rel="stylesheet" href="./{{{assets_dir}}}/styles.css" type="text/css">
	
	</head>
	
	<body>
		
		<div class="header">
			
			<h1>Node Get Financial Stats 🌏📈</h1>
			<h2><a href="https://frarizzi.science/about" target="_blank">Author</a> -
				<a href="https://github.com/Francesco-Rizzi/Node-Get-Financial-Stats" target="_blank">GitHub</a></h2>
			
		</div>
		
		<h3 class="mid-title">Stocks</h3>
		<div class="grid-container">{{{data-stocks}}}</div>
		
		<h3 class="mid-title">ETFs</h3>
		<div class="grid-container">{{{data-etfs}}}</div>
		
		<h3 class="mid-title">Markets overview</h3>
		{{{data-markets}}}
	
	</body>

</html>