<div class="ticker-info">
	
	<div class="ticker-info-part">
		<table>
			<tbody>
				<tr>
					<td>Price</td>
					<td>{{{price}}}</td>
				</tr>
				<tr>
					<td>EPS</td>
					<td>{{{eps}}} (Y/Y {{{eps_diff}}})</td>
				</tr>
				<tr>
					<td>P/E Ratio</td>
					<td>{{{p_e}}}</td>
				</tr>
				<tr>
					<td>Dividend Yield</td>
					<td>{{{dividends}}}</td>
				</tr>
				<tr>
					<td>Market Cap.</td>
					<td>{{{cap}}}</td>
				</tr>
			</tbody>
		</table>
	</div>
	
	
	<div class="ticker-info-part">
		<table>
			<tbody>
				<tr>
					<td>Yearly Fluctuation</td>
					<td>{{{y_flu}}} ({{{y_flu_perc}}}%)</td>
				</tr>
				<tr>
					<td>Revenues</td>
					<td>{{{y_rev}}} ({{{y_rev_perc}}}%)</td>
				</tr>
				<tr>
					<td>Net Income</td>
					<td>{{{y_inc}}} ({{{y_inc_perc}}}%)</td>
				</tr>
				<tr>
					<td>Net Profit Margin</td>
					<td>{{{y_prof}}} ({{{y_prof_perc}}}%)</td>
				</tr>
			</tbody>
		</table>
	</div>
	
</div>