<div class="markets">
	
	<div class="ticker mod-markets">
		<h3 class="ticker-header">
			<span class="ticker-name mod-market">MRKT</span><span class="ticker-full-name">US Bonds 10Y-to-2Y Spread</span>
		</h3>
		<div class="ticker-price-history">
			<img src="./{{{assets_dir}}}/T10Y2Y.jpg">
		</div>
	</div>
	
	<div class="ticker mod-markets">
		<h3 class="ticker-header">
			<span class="ticker-name mod-market">MRKT</span><span class="ticker-full-name">US Unemployment Rate</span>
		</h3>
		<div class="ticker-price-history">
			<img src="./{{{assets_dir}}}/UNRATE.jpg">
		</div>
	</div>
	
	<div class="ticker mod-markets">
		<h3 class="ticker-header">
			<span class="ticker-name mod-market">MRKT</span><span class="ticker-full-name">Y-Curve United States</span>
		</h3>
		<div class="ticker-price-history">
			<img src="./{{{assets_dir}}}/YC-United-States.jpg">
		</div>
	</div>
	
	<div class="ticker mod-markets">
		<h3 class="ticker-header">
			<span class="ticker-name mod-market">MRKT</span><span class="ticker-full-name">Y-Curve China</span></h3>
		<div class="ticker-price-history">
			<img src="./{{{assets_dir}}}/YC-China.jpg">
		</div>
	</div>
	
	<div class="ticker mod-markets">
		<h3 class="ticker-header">
			<span class="ticker-name mod-market">MRKT</span><span class="ticker-full-name">Y-Curve India</span></h3>
		<div class="ticker-price-history">
			<img src="./{{{assets_dir}}}/YC-India.jpg">
		</div>
	</div>
	
	<div class="ticker mod-markets">
		<h3 class="ticker-header">
			<span class="ticker-name mod-market">MRKT</span><span class="ticker-full-name">Y-Curve Europe</span>
		</h3>
		<div class="ticker-price-history">
			<img src="./{{{assets_dir}}}/YC-Euro.jpg">
		</div>
	</div>

</div>