<div class="markets">
	
	<div class="markets-top">
		
		<div class="ticker mod-markets">
			<h3 class="ticker-header"><span class="ticker-full-name">US Bonds 10Y-to-2Y Spread</span></h3>
			<div class="ticker-price-history">
				<div class="ticker-chart-container"><img src="./assets/SPREAD_10Y_2Y.jpg"></div>
			</div>
		</div>
		
		<div class="ticker mod-markets">
			<h3 class="ticker-header"><span class="ticker-full-name">US Unemployment Rate</span></h3>
			<div class="ticker-price-history">
				<div class="ticker-chart-container"><img src="./assets/UNRATE.jpg"></div>
			</div>
		</div>
		
	</div>
	
	<div class="markets-yield-curve">
		
		<div class="ticker mod-markets">
			<h3 class="ticker-header"><span class="ticker-full-name">Yield Curve US</span></h3>
			<div class="ticker-price-history">
				<div class="ticker-chart-container"><img src="./assets/YC-United-States.jpg"></div>
			</div>
		</div>
		
		<div class="ticker mod-markets">
			<h3 class="ticker-header"><span class="ticker-full-name">Yield Curve China</span></h3>
			<div class="ticker-price-history">
				<div class="ticker-chart-container"><img src="./assets/YC-China.jpg"></div>
			</div>
		</div>
		
		<div class="ticker mod-markets">
			<h3 class="ticker-header"><span class="ticker-full-name">Yield Curve India</span></h3>
			<div class="ticker-price-history">
				<div class="ticker-chart-container"><img src="./assets/YC-India.jpg"></div>
			</div>
		</div>
		
		<div class="ticker mod-markets">
			<h3 class="ticker-header"><span class="ticker-full-name">Yield Curve Europe</span></h3>
			<div class="ticker-price-history">
				<div class="ticker-chart-container"><img src="./assets/YC-Euro.jpg"></div>
			</div>
		</div>
		
	</div>

</div>